

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>


    <div id="porfolio-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " >
                    <h1>See Our Portfolio</h1>
                </div>
            </div>
            <!-- ./ Main Heading-->
             <div class="row  main-low-margin text-center">

                <!-- ./ Filter Head div-->
                <div class="col-md-10 col-md-offset-1 col-sm-12" >
                    <ul class="portfolio-items col-3">
                        <li class="portfolio-item jquery">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t1.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b1.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                       
                        <li class="portfolio-item  wordpress">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t2.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b2.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item  wordpress ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t3.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b3.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item jquery html">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t4.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b4.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item wordpress html">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t5.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b5.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item jquery html">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t6.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b6.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item wordpress html">
                           <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t7.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b7.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item jquery">
                           <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t8.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b8.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                         <li class="portfolio-item jquery">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="./public/assets/img/portfolio/thumb/t9.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="./public/assets/img/portfolio/big/b9.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                 </div>
        </div>
    </div>

    <script src="./public/assets/js/jquery.js"></script>
    <script src="./public/assets/js/bootstrap.min.js"></script>
    <script src="./public/assets/js/jquery.isotope.min.js"></script>
    <script src="./public/assets/js/jquery.prettyPhoto.js"></script>
    <script src="./public/assets/js/custom.js"></script>

