
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

     <div id="service-section">
     <div class="container" >
    <div class="row  text-center">
              <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " >
                    <h1>Explore Our Services</h1>
                    <h4>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
                 <div class="row main-low-margin text-center"> 
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <img src="./public/assets/img/history/Cadillac.png" alt="">
                            <h4>CADILLAC</h4>
                            <p>
                                Cadillac Motor Car Division – одно из подразделений General Motors, которое специализируется
                                на производстве люксовых автомобилей. Название свое компания получила в честь знаменитого
                                Антуана де ла Мотта Кадиллака, который в свое время основал город Детройт. Штаб-квартира
                                компании находится в Детройте, штат Мичиган. Первый автомобиль Cadillac Model A был показан
                                в Нью-Йорке на автомобильной выставке в январе 1903 года.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6"  >
                        <div class="text-center">
                            <img src="./public/assets/img/history/Audi.png" alt="">
                            <h4>AUDI</h4>
                            <p>
                                Компания Audi является немецким производителем автомобилей, которые сочетают в себе изысканный
                                дизайн и современные технологии. Её штаб-квартира расположена в городе Ингольдштадте. В 1909 году
                                начинается история этого автомобильного гиганта, когда Август Хорьх организовал фирму по производству
                                машин. В 1910 году был выпушен первый автомобиль компании Audi-A. В 1965 году концерн Volkswagen выкупил
                                контрольный пакет акций Audi.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <img src="./public/assets/img/history/BMW.png" alt="">
                            <h4>BMW</h4>
                            <p>
                                BMW - немецкая компания, которая выпускает автомобили и мотоциклы премиум класса. Eе штаб-квартира расположена
                                в городе Мюнхен, а история начинается в 1917 году, когда Карл Рапп и Густав Отто основывают собственный завод по
                                выпуску авиадвигателей Bayerische Motoren Werke – BMW. Для расширения предприятия в 1928 году компания приобретает
                                автомобильные заводы в Айзенахе. В этом же году она покупает лицензию на производство экономичных машин Dixi.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <img src="./public/assets/img/history/LEXUS.png" alt="">
                            <h4>LEXUS</h4>
                            <p>
                                Компания Lexus является крупнейшим предприятием Японии по производству престижных авто. Изначально этот бренд был
                                создан специально для американского рынка, чтобы под его именем представлять исключительно люксовые модели концерна
                                Toyota. И сейчас Лексус представляет собой филиал корпорации Toyota Motors Corporation. Основные производственные
                                заводы расположены в Японии. На секретном совещании руководства корпорации в 1983 году председатель Эйдзи Тойода
                                внес предложение о создании люксового бренда. Первая машина марки Лексус увидела свет в 1985 году. Ей стала модель
                                Lexus LS400.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <img src="./public/assets/img/history/PORSCHE.png" alt="">
                            <h4>PORSCHE</h4>
                            <p>
                                Компания Porsche является известным немецким предприятием, которое специализируется на выпуске престижных и дорогих
                                спортивных машин. Большинство моделей этого производителя имеют заднемоторную компоновку и оснащены оппозитными двигателями.
                                Основной завод расположен на территории Германии в городе Штутгарт. В то время подающий надежды инженер-конструктор Фердинанд Порше на французской выставке Экспо представил
                                собственную разработку – привод для электромобиля Lohner-Porsche. Через небольшой промежуток времени он создает собственное
                                дизайнерское ателье F. Porsche AG. К началу 50-х годов специалисты компании разработали будущего лидера ралли Порше-550 Спайдер
                                (Carrera Panamericana), который немного позже получил название Carrera. Спортивный дизайн и характер – суть марки Porsche.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" >
                        <div class="text-center">
                            <img src="./public/assets/img/history/VOLKSWAGEN.png" alt="">
                            <h4>VOLKSWAGEN</h4>
                            <p>
                                Компания Volkswagen – это немецкий автомобильный концерн, основные производственные мощности которого
                                находятся в Вольсбурге. Первые автомобили Volkswagen сошли с конвейера в 1935 году.
                                В 1965 году она купила предприятие Audi у компании Daimler-Benz. Так был основан известный концерн
                                Volkswagen-Audi или VAG. Позже завод Volkswagen, автомобили которого уже входили в 5 самых популярных в мире, расширился
                                за счет таких известных марок, как Bentley, Skoda, SEAT и Lamborghini.Автомобили били все рекорды по продажам и вызывали горячие одобрение не только со стороны потребителей, но и экспертов.
                                В тоже время специалисты фирмы разработали автомобили Volkswagen Golf, Passat и Scirocco.
                            </p>
                        </div>
                    </div>
                </div>
                     </div>
            </div>
         </div>
          </div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>

